!!!
%html
  %head
    %title Phone Tag
    %link{ :href => 'styles.css', :rel => :stylesheet, :type => 'text/css' }
    %link{ :rel => 'alternate', :type => 'application/rss+xml', :title => 'Phone Tag feed', :href => '/feed' }
  %body
    = yield